/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header Styles */
header {
  background-color: #1F2937;
  padding: 20px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

/* Hero Section */
#hero {
  background-color: #1F2937;
  padding: 100px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  flex: 1;
  max-width: 450px;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 18px;
  color: #E5E7EB;
  margin-bottom: 20px;
  opacity: 0.7;
}

.hero-button {
  background-color: #3882F6;
  color: #FFFFFF;
  border: none;
  padding: 10px 30px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero-image img {
  width: 500px;
  height: auto;
  align-self: flex-end;
}

/* Info Section */
#info {
  padding: 50px 200px;
  text-align: center;
}

#info h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
  margin-bottom: 40px;
}

.info-cards {
  display: flex;
  justify-content: flex-end;
  gap: 52px;
}

.card {
  max-width: 200px;
}

.card img {
  width: 150px;
  height: 150px;
  border: 4px solid #3882F6;
  border-radius: 15px;
  margin-bottom: 10px;
}

.card p {
  font-size: 18px;
  color: #1F2937;
}

/* Quote Section */
#quote {
  background-color: #E5E7EB;
  padding: 100px 200px;
}

blockquote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1F2937;
  margin-bottom: 20px;
  line-height: 1.4;
  max-width: 800px;
  margin-left: auto;
  margin-right: 0;
}

.quote-author {
  font-weight: bold;
  font-size: 24px;
  color: #1F2937;
  text-align: right;
  max-width: 800px;
  margin-left: auto;
  margin-right: 0;
}

/* Call to Action Section */
#cta {
  padding: 80px 100px;
}

.cta-container {
  background-color: #3882F6;
  color: #FFFFFF;
  padding: 40px 80px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cta-content {
  margin-right: auto;
}

.cta-content h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

.cta-content p {
  font-size: 18px;
  color: #E5E7EB;
  margin: 0;
}

.cta-button {
  background-color: transparent;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  padding: 10px 30px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

/* Footer Styles */
footer {
  background-color: #1F2937;
  color: #E5E7EB;
  text-align: right;
  padding: 40px 200px;
  font-size: 18px;
  margin-top: auto;
}
